//npm.pkg.github.com/:_authToken=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
//npm.pkg.github.com/download/:_authToken=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
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org/